@import url("https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap");


#Peach * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Peach body {
  font-family: "Anta", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}



#Peach section {
  padding: 20px;
}

#Peach .container{
    display: flex;
    width: 100%;
    height: 500px;
    border-bottom: solid gray;
    
}

#Peach .pic{
    /*border: solid black;*/
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
#Peach .buy{  
   /* border: solid black;*/
    float: right;
    width: 50%;
    padding-top: 50px;
    
}

#Peach .container2{
  
    height: 300px;
    width: 450px;
    /*border: solid black;*/
    margin: 40px;  
}

#Peach .name{
    font-size: 35px;
}

#Peach .price{
   padding-top:70px; 
   padding-right: 20px;
   
 }
 
#Peach .stav{
     color: green;
     padding-right: 20px;
     font-size: 15px;
 }
 


 
#Peach .CartButton {
     background-color: red; 
     border: none; 
     color: white;
     padding: 10px 20px; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block; 
     font-size: 16px; 
     margin: 4px 2px; 
     cursor: pointer; 
     border-radius: 10px; 
     margin-right: 20px;  
 }
 
 #Peach.cart{
     display: flex;
     justify-content: space-between;
     padding-left: 20%;
     padding-right: 20%;
     float: right;
 }

 #Peach.order{
  /*border: solid black;*/
  text-align: right;
  height: 200px;
 }

 #Peach .text{
  color: gray;
 }

 #Peach .container3{
  
  padding-top: 100px;
  padding-left: 30px;
  display: flex;
  padding-right: 30px;
  


 }

 #Peach .info{
  /*border: solid black;*/
  width: 50%;
 }

 #Peach .parameters{
  /*border: solid black; */
  width: 50%;
  padding-left: 100px;
  
 }

 #Peach .par{
  border-bottom: 0.5px solid gray;
 }

 #Peach .pargap{
 float: right;
 margin-right: 30px;

 }

 #Peach .container4{
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  /*border: solid black;*/
  display: flex;
  }

  #Peach .man_text{
  margin-bottom: 60px;
 }

  

 
 #Peach .help{
  padding-left: 80px;
 }
 #Peach .help_t{
  border-bottom: 0.5px solid gray;
 }

