@import url("https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap");


#Peach * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Peach body {
  font-family: "Anta", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}



#Peach section {
  padding: 1.25rem;
}

#Peach .container{
    display: flex;
    width: 100%;
    height: 31.25rem;
    margin-top: 70px;
    
}

#Peach .line{
  border-bottom: 0.5px solid gray;
  margin-left: 30px;
  margin-right: 30px;
}

#Peach .pic{
    /*border: solid black;*/
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
#Peach .buy{  
   /* border: solid black;*/
    float: right;
    width: 50%;
    padding-top: 3.125rem;
    
}

#Peach .container2{
  
    height: 18.75rem;
    width: 28.125rem;
    /*border: solid black;*/
    margin: 2.5rem;  
}

#Peach .name{
    font-size: 2.1875rem;
}

#Peach .price{
   padding-top:4.375rem; 
   padding-right: 1.25rem;
   
 }
 
#Peach .stav{
     color: green;
     padding-right: 1.25rem;
     font-size: 0.9375rem;
 }
 


 
#Peach .CartButton {
     background-color: red; 
     border: none; 
     color: white;
     padding: 0.625rem 1.25rem; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block; 
     font-size: 1rem; 
     margin: 0.25rem 0.125rem; 
     cursor: pointer; 
     border-radius: 0.625rem; 
     margin-right: 1.25rem;  
 }
 
 #Peach.cart{
     display: flex;
     justify-content: space-between;
     padding-left: 20%;
     padding-right: 20%;
     float: right;
 }

 #Peach.order{
  /*border: solid black;*/
  text-align: right;
  height: 12.5rem;
 }

 #Peach .text{
  color: gray;
 }

 #Peach .container3{
  
  padding-top: 6.25rem;
  padding-left: 1.875rem;
  display: flex;
  padding-right: 1.875rem;
  


 }

 #Peach .info{
  /*border: solid black;*/
  width: 50%;
 }

 #Peach .parameters{
  /*border: solid black; */
  width: 50%;
  padding-left: 6.25rem;
  
 }

 #Peach .par{
  border-bottom: 0.0313rem solid gray;
 }

 #Peach .pargap{
 float: right;
 margin-right: 1.875rem;

 }

 #Peach .container4{
  padding-top: 3.75rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  /*border: solid black;*/
  display: flex;
  }

  #Peach .man_text{
  margin-bottom: 3.75rem;
  border-bottom: 0.0313rem solid gray;
 }

  

 
 #Peach .help{
  padding-left: 2.5rem;
  width: 80%;
  
 }
 #Peach .help_t{
  border-bottom: 0.0313rem solid gray;
 }

 #Peach .help_text{
  font-size: large;
  padding-left: 15px;
 }

 

 @media screen and (max-width: 600px) {
  #Peach .container3 {
      display: flex;
      flex-direction: column; /* Bloky se budou umisťovat pod sebe */
      align-items: center; /* Zarovnání na střed podle osy X */
      justify-content: center; /* Zarovnání na střed podle osy Y */
  }


  #Peach .container4 {
    display: flex;
    flex-direction: column; /* Bloky se budou umisťovat pod sebe */
    align-items: center; /* Zarovnání na střed podle osy X */
    justify-content: center; /* Zarovnání na střed podle osy Y */
    
    width: 100%;
  }

  #Peach .manual_pic{
    width: 80%;
  }
}