@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap');

#contacts * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contacts body {
    font-family: "Anta", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
   
}



#contacts .main_text1{
    margin-top: 5%;
    margin-left: 5%;
}
#contacts .container{
    display: flex;
   
    
}

#contacts .spoluprace, .formular{
    flex: 1;
    padding: 40px;
}

#contacts .formular h1{
    text-align: center;
}

#contacts form {
    margin: 0 auto;
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#contacts input[type="text"],
#contacts input[type="email"],
#contacts textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#contacts input[type="submit"] {
    width: 100%; 
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#contacts input[type="submit"]:hover {
    background-color: #0056b3; 
}

#contacts .company{
    padding-top: 10%
}

#contacts .whatsapp-chat {
    position: fixed;
    right: 20px; /* Nastavte umístění podle potřeby */
    bottom: 20px; /* Nastavte umístění podle potřeby */
    z-index: 1000; /* Aby byl odkaz vždy viditelný */
  }
  
#contacts .whatsapp-chat a {
    display: inline-block;
    background-color: #25d366; /* Barva WhatsApp */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
  }

#contacts footer {
    background-color:black;
    color: white;
    padding: 10px;
    text-align: center;
}



  