@import url("https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap");



#pr *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#pr .item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pr .products{
    display: flex;
    justify-content: center;
}

#pr .price{
   text-align: left;
   padding-left: 4.6875rem;
   font-size: 2rem;
   color: darkblue;
}

#pr .stav{
    color: green;
}

#pr .p{
    width: 18.75rem;
    height: 18.75rem;
    margin: 2.5rem;
  
}
#pr .container{

    margin: 2.5rem;
    padding: 0;
    height: 31.25rem;
    justify-content: center;
    border: 0.5px solid gray;
    background-color: whitesmoke;
    
}

#pr .container2{
    display: flex;
 
    
    
}

#pr .container3{
    width: 50%;
}

#pr .name{
    text-align: center;
}


#pr .CartButton {
    background-color: green; 
    border: none; 
    color: white;
    
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1rem; 
    
    cursor: pointer; 
    border-radius: 0.625rem;
 }

#pr .cart {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    
    
   
    
};

