@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap');




.whatsapp-chat {
    position: fixed;
    right: 20px;  
    bottom: 20px; 
    z-index: 1000; 
  }
  
  .whatsapp-chat a {
    display: inline-block;
    background-color: #25d366; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
  }
  
  footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  
  