@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap');


header {
  background-color: black;
  color: white;
  padding: 0.3125rem;
  text-align: center;
  max-width: 100%; 
}

.bar {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.logo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 80px;
  max-width: 20%;
  align-items: center;

}

.m1 {
  margin-right: 10%;
  
}

nav a {
  
  text-decoration: none;
  padding: 10px 20px;
  
}

nav Link{
  color: white;
}

nav a:hover {
  border-bottom: 3px solid white;
}



