@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bitter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anta", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
   
}
header {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    width: 1265px
   
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 70px;
    align-items: center;
    
    
}
.logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 20%;
}

.m1{
    margin-right: 10%;
    
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    transition-duration: 1s;
}


nav a:hover {
   
    border-bottom: 5px solid white;
    
    
}

.main_text{
    text-align: center;
    padding: 20px;
}
.second_text{
    text-align: center;
    opacity: 0.5
}
.products1{
    display: flex;
    justify-content: center;
    
   
}
.products2{
    display: flex;
    
    justify-content: center;
}

.price{
   text-align: left;
   padding-left: 75px;
}

.stav{
    color: green;
}

.p1, .p2, .p3, .p4{
    width: 300px;
    height: 300px;
    margin: 40px;
    /*border: solid black;*/
}
.container1, .container2, .container3, .container4{
    border: solid #ccc 1px;
    margin: 40px;
    height: 500px;
    

}
.addToCartButton {
    background-color: red; 
    border: none; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}

.cart{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    
   
    
}


.whatsapp-chat {
    position: fixed;
    right: 20px; /* Nastavte umístění podle potřeby */
    bottom: 20px; /* Nastavte umístění podle potřeby */
    z-index: 1000; /* Aby byl odkaz vždy viditelný */
  }
  
  .whatsapp-chat a {
    display: inline-block;
    background-color: #25d366; /* Barva WhatsApp */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
  }
  

footer {
    background-color:black;
    color: white;
    padding: 10px;
    text-align: center;
}